/*
==============================================
CSS3 ANIMATION CHEAT SHEET
==============================================

Made by Justin Aguilar

www.justinaguilar.com/animations/

Questions, comments, concerns, love letters:
justin@justinaguilar.com
==============================================
*/

/*
==============================================
pulse
==============================================
*/

.pulse{
	animation-name: pulse;
	-webkit-animation-name: pulse;

	animation-duration: 6s;
	-webkit-animation-duration: 6s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.98);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.98);
	}
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(0.98);
	}
	50% {
		-webkit-transform: scale(1);
	}
	100% {
		-webkit-transform: scale(0.98);
	}
}

/*
==============================================
floating
==============================================
*/

.floating{
	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 6s;
	-webkit-animation-duration: 6s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0%);
	}
	50% {
		transform: translateY(3%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);
	}
	50% {
		-webkit-transform: translateY(3%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}

/*
==============================================
tossing
==============================================
*/

.tossing{
	animation-name: tossing;
	-webkit-animation-name: tossing;

	animation-duration: 5s;
	-webkit-animation-duration: 5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
	0% {
		transform: rotate(-0.5deg);
	}
	50% {
		transform: rotate(0.5deg);
	}
	100% {
		transform: rotate(-0.5deg);
	}
}

@-webkit-keyframes tossing {
	0% {
		-webkit-transform: rotate(-0.5deg);
	}
	50% {
		-webkit-transform: rotate(0.5deg);
	}
	100% {
		-webkit-transform: rotate(-0.5deg);
	}
}

/* Changing color animation */

.changeColor {
	animation-name: changeColor;
	-webkit-animation-name: changeColor;

	animation-duration: 15s;
	-webkit-animation-duration: 15s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes changeColor {
	0%   {
		fill: #2FB2C0;
	}
  25%  {
		fill: #8694c6;
	}
  50%  {
		fill: #9974be;
	}
  75%  {
		fill: #E38A7D;
	}
  100% {
		fill: #2FB2C0;
	}
}


@-webkit-keyframes changeColor {
	0%   {
		fill: #2FB2C0;
	}
  25%  {
		fill: #8694c6;
	}
  50%  {
		fill: #9974be;
	}
  75%  {
		fill: #E38A7D;
	}
  100% {
		fill: #2FB2C0;
	}
}

.changeColorLight {
	animation-name: changeColorLight;
	-webkit-animation-name: changeColorLight;

	animation-duration: 15s;
	-webkit-animation-duration: 15s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes changeColorLight {
	0%   {
		fill: #8DD3D5;
	}
  25%  {
		fill: #bac2de;
	}
  50%  {
		fill: #caa9d6;
	}
  75%  {
		fill: #f2c7c0;
	}
  100% {
		fill: #8DD3D5;
	}
}


@-webkit-keyframes changeColorLight {
	0%   {
		fill: #8DD3D5;
	}
  25%  {
		fill: #bac2de;
	}
  50%  {
		fill: #caa9d6;
	}
  75%  {
		fill: #f2c7c0;
	}
  100% {
		fill: #8DD3D5;
	}
}
